<!DOCTYPE html>
<html ng-app="testApp">
  <head>
    <link rel="stylesheet" href="bower_components/chartist/libdist/chartist.min.css">
    <script src="bower_components/chartist/libdist/chartist.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  </head>
  <body>
  	<h1>Go To The Game!</h1>
  	<div ng-controller="TestController">
      NFL Team:
      <select ng-model="selectedTeam" ng-options="team.name for team in teamData">
        <option value="">-- choose NFL Team --</option>
      </select>
  	  <button ng-click="getTeamInfo()">Submit!</button>
  	  <hr>
  	</div>
  	<div class="ct-chart ct-major-eleventh"></div>
    <script src="app.js"></script>
  </body>
</html>
