.jumbotron {
  background-color: #FFD34E;
  padding-top: 1px;
}
.title {
  position: relative;
  top: 15px;
  color: white;
  font-family: 'Permanent Marker';
}
.modal-content {
  padding: 40px;
  margin-top: 120px;
}
.modal-header, .modal-footer {
  position: relative;
}
.modal-header {
  top: -20px;
}
.modal-footer button {
  padding: 20px;
  margin-bottom: -20px;
  margin-top: 10px;
}
.mainBody {
  margin-top: -20px;
  background-color: #FFFAD5;
}
.chooseTeam {
  z-index: 5;
  opacity: 0%;
}
.ct-legend {
  margin-top: -70px;
  font-family: 'Permanent Marker';
}
.ct-chart {
  top: -30px;
  background-color: #FFFAD5;
}
.avgPrice {
  color: #d70206;
  font-size: 5em;
}
.wtdPrice {
  color: #F05B4f;
  font-size: 5em;
}
